<app-player-header></app-player-header>
<div id="playermain">
<div class="row">
    <div class="column" id="first">
        <div id="transbox" >
            <p class="title">Podaci o korisniku</p> 
            <p>Korisničko ime: {{user.username}}</p> 
            <p>Ime i prezime: {{user.name}}</p> 
            <p>Email: {{user.email}}</p> 
            <p>Zemlja: {{user.country}}</p> 
          </div>
    </div>
    
    <div class="column" id="second"><div id="transbox" >
        <p class="title">Pravila igre</p> 
        <p>Kviz se sastoji od dva poluvremena. U prvom poluvremenu se nalaze pitanja iz opšteg znanja, geografije
            , književnosti i mozgalice. Drugo poluvrijeme se sastoji od pitanja iz oblasti istorija, oblast večeri
            , film, sport i muzika. Takmičar ima jedan minut da odgovori na postavljeno pitanje. Neki odgovori nose jedan bod, 
            dok odgovori na teža pitanja nose dva boda. Takođe, takmičar koji na zadato pitanje odgovori najbrže, 
            a pritom da kompletno tačan odgovor dobija bonus poene. Nakon završenog prvog poluvremena možete vidjeti svoje bodove i 
            bodove drugih igrača za taj period, a na kraju dobijate uvid u vaš kompletan rezultat i tabelu sa 
            rezultatima svih igrača tekućeg kviza.
        </p>
        <p id="noteBene">Ukoliko postoji više od jednog odgovora, obavezno ih navedite redoslijedom iz pitanja
            i odvojite zarezom! To se takođe odnosi i na oblast Muzika, u kojoj je potrebno da prvo napišete ime izvođača,
            a zatim iza zareza naziv pjesme.
        </p>
      </div></div>
      
</div>
</div>



