<app-player-header></app-player-header>
<div id="playermain">
<div class="row">
    <div class="column" id="first">
        <div id="transbox" >
            <p class="title">Podaci o korisniku</p> 
            <p>Korisničko ime: {{user.username}}</p> 
            <p>Ime i prezime: {{user.name}}</p> 
            <p>Email: {{user.email}}</p> 
            <p>Zemlja: {{user.country}}</p> 
          </div>
    </div>
    
    <div class="column" id="second"><div id="transbox" >
        <p class="title">Pravila igre</p> 
        <p>Kviz se sastoji od devet oblastu. Te oblasti obuhvataju opšte znanja, geografiju
            , književnost, mozgalice, istoriju, oblast večeri
            , film, sport i muziku. Takmičar ima jedan minut da odgovori na postavljeno pitanje. Neki odgovori nose jedan bod, 
            dok odgovori na teža pitanja nose dva boda. Takođe, takmičar koji na zadato pitanje odgovori najbrže, 
            a pritom da kompletno tačan odgovor dobija bonus poene.Na kraju kviza dobijate uvid u vaš kompletan rezultat i tabelu sa 
            rezultatima svih igrača tekućeg kviza.
        </p>
        <p id="noteBene">Ukoliko postoji više od jednog odgovora, obavezno ih navedite redoslijedom iz pitanja
            i odvojite zarezom! To se takođe odnosi i na oblast Muzika, u kojoj je potrebno da prvo napišete ime izvođača,
            a zatim iza zareza naziv pjesme. U matematičkim pitanjima je potrebno da se da samo izraz na lijevoj strani (Dakle u odgovoru se izostavlja 
            znak = i rezultat).
        </p>
      </div></div>
      
</div>
</div>



