

  .row{
      margin-top: 70px;
      align-content: center;
  }

  .column {
    text-align: center;
    font-family: BANGERS;
    float: left;
    width: 30%;
  }

  .container {
    padding: 2rem 0rem;
    
  }
   label{
    font-family:Bangers;
    color: black;

   }

   #editProfile{

    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image:url('../../assets/backgrounds/Awesome-HD-Pic.jpg') ;
  }