
.time-to {
  text-align:center;
  font-family:Bangers;
  color:white;
  font-size:35px;
  letter-spacing:2px;
 }
span {
  display: block;
  font-size:80px;
  color:red;
}

#countholder{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
   background-image:url('../../assets/backgrounds/milky-way-2695569_1920.jpg') 
  
}
  